<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Gagcs Remote
    link(rel="stylesheet", href="css/bulmagagcs.css")
    link(rel="stylesheet", href="css/custom.css")
    script(src="js/fontawesome/all.js", defer="")
    script(src="js/remote.js", defer="")
    script(src="js/bulmahelpers.js", defer="")
  body
    section.hero.is-primary.is-small
      div.hero-head
        nav.navbar
          div.container
            div.navbar-brand 
              .navbar-item
                img(src="logo.png")
              span.navbar-burger.burger(data-target="homeMenu")
                span
                span
                span
            div#homeMenu.navbar-menu
              div.navbar-end
                a.navbar-item(href="remote-list") List
                a.navbar-item(href="remote") Grid
      .hero-body.has-text-centered
          h1.titre.is-size-1.appName.has-text-black Gagcs
          h2.subtitle Generative Art Gallery Canvas
            //-p.is-size-6.navbar-item Remote Control

    block content