@font-face {
  font-family: AppName;
  /*src: url(fonts/gloriahallelujah-regular.ttf);*/
  src: url(fonts/pacifico-regular.ttf);
  /*src: url(fonts/indieflower-regular.ttf);*/
  /*src: url(fonts/lobster-regular.ttf);*/
  /*src: url(fonts/kaushanscript-regular.ttf);*/
}

.appName {
  font-family: "AppName";
}
